<div id="project-view" class="row">
	<div class="col-md-3">
		<ul class="list-group">
			<a href="project-view-layout.html" class="list-group-item active"> <h4 class="list-group-item-heading">Mon projet</h4>
			<p class="list-group-item-text">
				description
			</p> </a>
			<li class="list-group-item">
				<small>Dernière activité il y a 12 jour(s)</small>
			</li>
			<li class="list-group-item">
				<span class="badge">1</span>
				Membre(s)
			</li>
			<li class="list-group-item">
				<span class="badge">0</span>
				Outil(s)
			</li>
			<li class="list-group-item">
				<span class="badge">1</span>
				Compétence(s)
			</li>
			<li class="list-group-item">
				Statut <span class="label label-success"><em>En cours</em></span>
			</li>
		</ul>
	</div>
	<div class="col-md-3">
		<ul class="list-group">
			<a href="#" class="list-group-item active"> <h4 class="list-group-item-heading">Mon projet</h4>
			<p class="list-group-item-text">
				description
			</p> </a>
			<li class="list-group-item">
				<small>Dernière activité il y a 12 jour(s)</small>
			</li>
			<li class="list-group-item">
				<span class="badge">1</span>
				Membre(s)
			</li>
			<li class="list-group-item">
				<span class="badge">0</span>
				Outil(s)
			</li>
			<li class="list-group-item">
				<span class="badge">1</span>
				Compétence(s)
			</li>
			<li class="list-group-item">
				Statut <span class="label label-success"><em>En cours</em></span>
			</li>
		</ul>
	</div>
	<div class="col-md-3">
		<ul class="list-group">
			<a href="#" class="list-group-item active"> <h4 class="list-group-item-heading">Mon projet</h4>
			<p class="list-group-item-text">
				description
			</p> </a>
			<li class="list-group-item">
				<small>Dernière activité il y a 12 jour(s)</small>
			</li>
			<li class="list-group-item">
				<span class="badge">1</span>
				Membre(s)
			</li>
			<li class="list-group-item">
				<span class="badge">0</span>
				Outil(s)
			</li>
			<li class="list-group-item">
				<span class="badge">1</span>
				Compétence(s)
			</li>
			<li class="list-group-item">
				Statut <span class="label label-success"><em>En cours</em></span>
			</li>
		</ul>
	</div>
	<div class="col-md-3">
		<ul class="list-group">
			<a href="#" class="list-group-item active"> <h4 class="list-group-item-heading">Mon projet</h4>
			<p class="list-group-item-text">
				description
			</p> </a>
			<li class="list-group-item">
				<small>Dernière activité il y a 12 jour(s)</small>
			</li>
			<li class="list-group-item">
				<span class="badge">1</span>
				Membre(s)
			</li>
			<li class="list-group-item">
				<span class="badge">0</span>
				Outil(s)
			</li>
			<li class="list-group-item">
				<span class="badge">1</span>
				Compétence(s)
			</li>
			<li class="list-group-item">
				Statut <span class="label label-success"><em>En cours</em></span>
			</li>
		</ul>
	</div>
</div>