<div class="panel mco-panel">
	<div class="panel-heading mco-panel-heading">
		<h3 class="panel-title mco-brand">MCO Manager</h3>
		<p>Suivi et Pilotage Quotidien des Ressources du Projet</p>
	</div>
	<div class="panel-body">
		<section id="app-content-main">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h5>
						<span class="badge">4</span> Membre(s) affecté(s) au projet
					</h5>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-3">
							<div class="media">
								<a class="pull-left" href="#"><span
									class="glyphicon glyphicon-user"></span></a>
								<div class="media-body">
									<h4 class="media-heading">Samuel Molu</h4>
									<ul class="list-group">
										<li class="list-group-item">
											<ul>
												<li>Technique</li>
												<li>Fonctionnel</li>
												<li>Pilotage</li>
												<li>Test/Validation</li>
											</ul>
										</li>
										<li class="list-group-item"><span class="badge">13</span>
											Compétence(s)</li>
										<li class="list-group-item"><span class="badge">1</span>
											Outil(s)</li>
										<li class="list-group-item"><span class="badge">6</span>
											Activité(s)</li>
										<li class="list-group-item"><a href="#">Voir les
												disponibilités</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="media">
								<a class="pull-left" href="#"><span
									class="glyphicon glyphicon-user"></span></a>
								<div class="media-body">
									<h4 class="media-heading">Felipe Vaz</h4>
									<ul class="list-group">
										<li class="list-group-item">
											<ul>
												<li>Technique</li>
												<li>Fonctionnel</li>
												<li>Pilotage</li>
												<li>Test/Validation</li>
											</ul>
										</li>
										<li class="list-group-item"><span class="badge">13</span>
											Compétence(s)</li>
										<li class="list-group-item"><span class="badge">1</span>
											Outil(s)</li>
										<li class="list-group-item"><span class="badge">6</span>
											Activité(s)</li>
										<li class="list-group-item"><a href="#">Voir les
												disponibilités</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="media">
								<a class="pull-left" href="#"><span
									class="glyphicon glyphicon-user"></span></a>
								<div class="media-body">
									<h4 class="media-heading">Benjamin Le Page</h4>
									<ul class="list-group">
										<li class="list-group-item">
											<ul>
												<li>Technique</li>
												<li>Test/Validation</li>
											</ul>
										</li>
										<li class="list-group-item"><span class="badge">6</span>
											Compétence(s)</li>
										<li class="list-group-item"><span class="badge">1</span>
											Outil(s)</li>
										<li class="list-group-item"><span class="badge">10</span>
											Activité(s)</li>
										<li class="list-group-item"><a href="#">Voir les
												disponibilités</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="media">
								<a class="pull-left" href="#"><span
									class="glyphicon glyphicon-user"></span></a>
								<div class="media-body">
									<h4 class="media-heading">Ethan Molu</h4>
									<ul class="list-group">
										<li class="list-group-item">
											<ul>
												<li>Test/Validation</li>
											</ul>
										</li>
										<li class="list-group-item"><span class="badge">1</span>
											Compétence(s)</li>
										<li class="list-group-item"><span class="badge">1</span>
											Outil(s)</li>
										<li class="list-group-item"><span class="badge">10</span>
											Activité(s)</li>
										<li class="list-group-item"><a href="#">Voir les
												disponibilités</a></li>
									</ul>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h5>
						<span class="badge">13</span> Compétence(s) affecté(s) au projet
					</h5>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-3">
							<div class="media">
								<a class="pull-left" href="#"><span
									class="glyphicon glyphicon-wrench"></span></a>
								<div class="media-body">
									<h4 class="media-heading">Techniques</h4>
									<ul class="list-group">
										<li class="list-group-item">
											<h5>JBoss 7</h5>
											<p>
												<span class="label label-primary"><em>confirmé</em></span>
											</p>
										</li>
										<li class="list-group-item">
											<h5>JBoss Forge, Maven</h5>
											<p>
												<span class="label label-primary"><em>confirmé</em></span>
											</p>
										</li>
										<li class="list-group-item">
											<h5>Aptana Studio,Eclipse</h5>
											<p>
												<span class="label label-primary"><em>confirmé</em></span>
											</p>
										</li>
										<li class="list-group-item">
											<h5>Java EE (JAX-RS)</h5>
											<p>
												<span class="label label-primary"><em>confirmé</em></span>
											</p>
										</li>
										<li class="list-group-item">
											<h5>Javascript, CSS, HTML5</h5>
											<p>
												<span class="label label-primary"><em>confirmé</em></span>
											</p>
										</li>
										<li class="list-group-item">
											<h5>Backbone JS, Twitter Bootstrap</h5>
											<p>
												<span class="label label-primary"><em>confirmé</em></span>
											</p>
										</li>

									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="media">
								<a class="pull-left" href="#"><span
									class="glyphicon glyphicon-wrench"></span></a>
								<div class="media-body">
									<h4 class="media-heading">Pilotage</h4>
									<ul class="list-group">
										<li class="list-group-item">
											<h5>Scrum Master</h5>
											<p>
												<span class="label label-default"><em>debutant</em></span>
											</p>
										</li>
										<li class="list-group-item">
											<h5>Recrutement</h5>
											<p>
												<span class="label label-default"><em>debutant</em></span>
											</p>
										</li>
										<li class="list-group-item">
											<h5>Suivi du Micro P</h5>
											<p>
												<span class="label label-default"><em>debutant</em></span>
											</p>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="media">
								<a class="pull-left" href="#"><span
									class="glyphicon glyphicon-wrench"></span></a>
								<div class="media-body">
									<h4 class="media-heading">Fonctionnel</h4>
									<ul class="list-group">
										<li class="list-group-item">
											<h5>Gestion de Projet</h5>
											<p>
												<span class="label label-primary"><em>confirmé</em></span>
											</p>
										</li>
										<li class="list-group-item">
											<h5>Gestion de Ressources</h5>
											<p>
												<span class="label label-success"><em>expert</em></span>
											</p>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="media">
								<a class="pull-left" href="#"><span
									class="glyphicon glyphicon-wrench"></span></a>
								<div class="media-body">
									<h4 class="media-heading">Générales</h4>
									<ul class="list-group">
										<li class="list-group-item">
											<h5>Visionnaire</h5>
											<p>
												<span class="label label-success"><em>expert</em></span>
											</p>
										</li>
										<li class="list-group-item">
											<h5>Marketer</h5>
											<p>
												<span class="label label-default"><em>debutant</em></span>
											</p>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h5>
						<strong>Micro-Planning Quotidien :</strong><span class="badge">13</span>
						Activité(s) et <span class="badge">39</span> Tâche(s) affecté(es)
						au projet
					</h5>
				</div>
				<div class="panel-body">Panel content</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h5>
						<span class="badge">8</span> Outil(s) affecté(s) au projet
					</h5>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-3">
							<div class="media">
								<a class="pull-left" href="#"><span
									class="glyphicon glyphicon-wrench"></span></a>
								<div class="media-body">
									<h4 class="media-heading">Ordinateurs Portables</h4>
									<ul class="list-group">
										<li class="list-group-item">
											<h5>Label</h5>
											<p>description</p>
										</li>
										<li class="list-group-item">
											<h5>Label</h5>
											<p>description</p>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="media">
								<a class="pull-left" href="#"><span
									class="glyphicon glyphicon-wrench"></span></a>
								<div class="media-body">
									<h4 class="media-heading">Ordinateurs Fixes : Unité
										centrale</h4>
									<ul class="list-group">
										<li class="list-group-item">
											<h5>Label</h5>
											<p>description</p>
										</li>
										<li class="list-group-item">
											<h5>Label</h5>
											<p>description</p>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="media">
								<a class="pull-left" href="#"><span
									class="glyphicon glyphicon-wrench"></span></a>
								<div class="media-body">
									<h4 class="media-heading">Ordinateurs Fixes : Ecran</h4>
									<ul class="list-group">
										<li class="list-group-item">
											<h5>Label</h5>
											<p>description</p>
										</li>
										<li class="list-group-item">
											<h5>Label</h5>
											<p>description</p>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="media">
								<a class="pull-left" href="#"><span
									class="glyphicon glyphicon-wrench"></span></a>
								<div class="media-body">
									<h4 class="media-heading">Téléphone Fixe</h4>
									<ul class="list-group">
										<li class="list-group-item">
											<h5>Label</h5>
											<p>description</p>
										</li>
										<li class="list-group-item">
											<h5>Label</h5>
											<p>description</p>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	<div class="panel-footer">Rien à afficher ici</div>